<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.locker.be.app.kiosk.mapper.KioskMapper">

    <select id="kioskLogin" resultType="com.locker.be.app.kiosk.dto.KioskQueryDto$KioskInfoRes" parameterType="com.locker.be.app.kiosk.dto.KioskQueryDto$KioskLoginReq">
        EXECUTE SP_KIOSK_LOGIN_SELECT
            #{LOGIN_ID}
            , #{LOGIN_PW}
    </select>

</mapper>