<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.locker.be.product.mapper.ProductTradeTypeMapper">

    <insert id="create" parameterType="com.locker.be.product.dto.ProductTradeTypeDto$ProductTradeTypeReq">
        EXECUTE SP_PRODUCT_TRADE_TYPE_INSERT
            #{PRODUCT_ID}
            ,#{TRADE_TYPE}
    </insert>
</mapper>