<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.locker.be.user.mapper.UserAddressMapper">

    <insert id="create" parameterType="com.locker.be.user.dto.UserAddressDto$UserAddressCreateReq">
        EXECUTE SP_USER_ADDRESS_INSERT
            #{USER_ID}
            ,#{ADDRESS}
    </insert>

    <update id="update" parameterType="com.locker.be.user.dto.UserAddressDto$UserAddressUpdateReq">
        EXECUTE SP_USER_ADDRESS_UPDATE
            #{USER_ID}
            ,#{ADDRESS_ID}
            ,#{ADDRESS}
            ,#{IS_DEFAULT}
    </update>

    <delete id="delete" parameterType="com.locker.be.user.dto.UserAddressDto$UserAddressDeleteReq">
        EXECUTE SP_USER_ADDRESS_DELETE
            #{USER_ID}
            ,#{ADDRESS_ID}
    </delete>

</mapper>