<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.locker.be.user.mapper.UserWishlistMapper">

    <insert id="save" parameterType="com.locker.be.user.dto.UserWishlistDto$UserWishlistSaveReq">
        EXECUTE SP_USER_WISHLIST_SAVE
            #{USER_ID}
            ,#{PRODUCT_ID}
    </insert>

</mapper>