<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.locker.be.user.mapper.UserMapper">

    <update id="update" parameterType="com.locker.be.user.dto.UserDto$UserUpdateReq">
        EXECUTE SP_USER_UPDATE
            #{USER_ID}
            ,#{NICKNAME}
    </update>

    <update id="banned" parameterType="com.locker.be.user.dto.UserDto$UserBannedReq">
        EXECUTE SP_USER_BANNED
            #{USER_ID}
    </update>

    <update id="delete" parameterType="com.locker.be.user.dto.UserDto$UserDeleteReq">
        EXECUTE SP_USER_DELETE
            #{USER_ID}
    </update>

    <select id="findPrd" parameterType="com.locker.be.user.dto.UserQueryDto$UserInfoReq" resultType="com.locker.be.user.dto.UserQueryDto$UserProductRes">
        EXECUTE SP_USER_PRODUCT_SELECT
            #{USER_ID}
    </select>

    <select id="findWish" parameterType="com.locker.be.user.dto.UserQueryDto$UserInfoReq" resultType="com.locker.be.user.dto.UserQueryDto$UserWishlistRes">
        EXECUTE SP_USER_WISHLIST_SELECT
            #{USER_ID}
    </select>

    <select id="findAccount" parameterType="com.locker.be.user.dto.UserQueryDto$UserInfoReq" resultType="com.locker.be.user.dto.UserQueryDto$UserAccountRes">
        EXECUTE SP_USER_ACCOUNT_SELECT
            #{USER_ID}
    </select>

    <select id="findAddress" parameterType="com.locker.be.user.dto.UserQueryDto$UserInfoReq" resultType="com.locker.be.user.dto.UserQueryDto$UserAddressRes">
        EXECUTE SP_USER_ADDRESS_SELECT
            #{USER_ID}
    </select>

    <select id="findSale" parameterType="com.locker.be.user.dto.UserQueryDto$UserInfoReq" resultType="com.locker.be.user.dto.UserQueryDto$UserSaleRes">
        EXECUTE SP_USER_SALE_SELECT
            #{USER_ID}
    </select>

    <select id="findBuy" parameterType="com.locker.be.user.dto.UserQueryDto$UserInfoReq" resultType="com.locker.be.user.dto.UserQueryDto$UserBuyRes">
        EXECUTE SP_USER_BUY_SELECT
            #{USER_ID}
    </select>

    <select id="findReview" parameterType="com.locker.be.user.dto.UserQueryDto$UserInfoReq" resultType="com.locker.be.user.dto.UserQueryDto$UserReviewRes">
        EXECUTE SP_USER_REVIEW_SELECT
            #{USER_ID}
    </select>

    <select id="findUser" parameterType="com.locker.be.user.dto.UserQueryDto$UserInfoReq" resultType="com.locker.be.user.dto.UserQueryDto$UserRes">
        EXECUTE SP_AUTH_ME_SELECT
            #{USER_ID}
    </select>
</mapper>