<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.locker.be.trade.mapper.TradeMapper">

    <select id="findId" resultType="com.locker.be.trade.dto.TradeQueryDto$TradeRes" parameterType="com.locker.be.trade.dto.TradeQueryDto$TradeReq">
        EXECUTE SP_TRADE_SELECT
            #{PRODUCT_ID}
            , #{USER_ID}
    </select>

    <insert id="create" statementType="CALLABLE" parameterType="com.locker.be.trade.dto.TradeDto$TradeCreateReq">
        EXECUTE SP_TRADE_INSERT
            #{PRODUCT_ID}
            , #{USER_ID}
            , #{TRADE_TYPE_CODE}
            , #{CHAT_ROOM_ID, mode=OUT, jdbcType=BIGINT}
            , #{TRADE_ID, mode=OUT, jdbcType=BIGINT}
    </insert>

    <update id="update" parameterType="com.locker.be.trade.dto.TradeDto$TradeUpdateReq">
        EXECUTE SP_TRADE_UPDATE
            #{TRADE_ID}
            , #{USER_ID}
            , #{NEXT_STATUS_CODE}
    </update>
</mapper>