<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.locker.be.review.mapper.ReviewMapper">

    <select id="findAll" parameterType="com.locker.be.review.dto.ReviewQueryDto$ReviewReq" resultType="com.locker.be.review.dto.ReviewQueryDto$ReviewRes">
        EXECUTE SP_PRODUCT_REVIEW_SELECT
            #{PRODUCT_ID}
    </select>

    <insert id="create" statementType="CALLABLE" parameterType="com.locker.be.review.dto.ReviewDto$ReviewCreateReq">
        EXECUTE SP_REVIEW_INSERT
            #{USER_ID}
            , #{PRODUCT_ID}
            , #{SCORE}
            , #{CONTENT}
            , #{NEW_REVIEW_ID}
    </insert>

    <update id="update" parameterType="com.locker.be.review.dto.ReviewDto$ReviewUpdateReq">
        EXECUTE SP_REVIEW_UPDATE
            #{USER_ID}
            , #{REVIEW_ID}
            , #{SCORE}
            , #{CONTENT}
    </update>
</mapper>