<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.locker.be.payment.mapper.PaymentMapper">

    <insert id="create" statementType="CALLABLE" parameterType="com.locker.be.payment.dto.PaymentDto$PaymentCreateReq">
        EXECUTE SP_PAYMENT_INSERT
            #{TRADE_ID}
            , #{PRODUCT_ID}
            , #{USER_ID}
    </insert>

    <update id="paid" statementType="CALLABLE" parameterType="com.locker.be.payment.dto.PaymentDto$PaymentPaidReq">
        EXECUTE SP_PAYMENT_PAID_UPDATE
            #{TRADE_ID}
            , #{AMOUNT}
            , #{ORDER_ID}
            , #{PAYMENT_KEY}
            , #{USER_ID}
            , #{SUCCESS, mode=OUT, jdbcType=BIGINT}
    </update>

    <update id="cancel" parameterType="com.locker.be.payment.dto.PaymentDto$PaymentCanceledReq">
        EXECUTE SP_PAYMENT_CANCELED_UPDATE
            #{TRADE_ID}
            , #{ORDER_ID}
            , #{USER_ID}
    </update>
</mapper>