<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.locker.be.web.trade.mapper.TradeLockerMapper">

    <select id="findAll" resultType="com.locker.be.web.trade.dto.TradeLockerQueryDto$TradeLockerLocationRes">
        EXECUTE SP_TRADE_LOCKER_LOCATION_LIST_SELECT
    </select>

    <select id="findState" resultType="com.locker.be.web.trade.dto.TradeLockerQueryDto$TradeLockerStateRes" parameterType="com.locker.be.web.trade.dto.TradeLockerQueryDto$TradeLockerStateReq">
        EXECUTE SP_LOCKER_STATE_SELECT
            #{KIOSK_ID}
    </select>

    <select id="findSelect" resultType="com.locker.be.web.trade.dto.TradeLockerQueryDto$TradeLockerLocationRes" parameterType="com.locker.be.web.trade.dto.TradeLockerQueryDto$TradeLockerLocationReq">
        EXECUTE SP_TRADE_LOCKER_LOCATION_SELECT
            #{TRADE_ID}
            , #{USER_ID}
    </select>

    <select id="create" resultType="com.locker.be.web.trade.dto.TradeLockerQueryDto$TradeLockerLocationRes" parameterType="com.locker.be.web.trade.dto.TradeLockerDto$TradeLockerLocationCreateReq">
        EXECUTE SP_TRADE_LOCKER_LOCATION_INSERT
            #{TRADE_ID}
            , #{KIOSK_ID}
            , #{USER_ID}
    </select>

    <select id="update" resultType="com.locker.be.web.trade.dto.TradeLockerQueryDto$TradeLockerLocationRes" parameterType="com.locker.be.web.trade.dto.TradeLockerDto$TradeLockerLocationUpdateReq">
        EXECUTE SP_TRADE_LOCKER_LOCATION_UPDATE
            #{TRADE_ID}
            , #{KIOSK_ID}
            , #{USER_ID}
    </select>

    <delete id="delete" parameterType="com.locker.be.web.trade.dto.TradeLockerDto$TradeLockerLocationDeleteReq">
        EXECUTE SP_TRADE_LOCKER_LOCATION_DELETE
            #{TRADE_ID}
            , #{USER_ID}
    </delete>

    <select id="findImg" resultType="com.locker.be.web.trade.dto.TradeLockerQueryDto$TradeLockerImgRes" parameterType="com.locker.be.web.trade.dto.TradeLockerQueryDto$TradeLockerImgReq">
        EXECUTE SP_TRADE_LOCKER_IMAGE_SELECT
            #{TRADE_ID}
            , #{USER_ID}
    </select>
</mapper>