<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.locker.be.app.locker.mapper.LockerCmdMapper">

    <select id="findState" resultType="com.locker.be.app.locker.dto.LockerCmdQueryDto$LockerCmdRes" parameterType="com.locker.be.app.locker.dto.LockerCmdQueryDto$LockerCmdReq">
        EXECUTE SP_LOCKER_COMMAND_SELECT
            #{LOCKER_CODE}
    </select>

    <insert id="create" parameterType="com.locker.be.app.locker.dto.LockerCmdDto$LockerCmdInsertReq">
        EXECUTE SP_LOCKER_COMMAND_INSERT
            #{AUTH_CODE}
            , #{KIOSK_CODE}
            , #{COMMAND_TYPE_CODE}
            , #{REQUEST_TYPE_CODE}
    </insert>

    <update id="update" parameterType="com.locker.be.app.locker.dto.LockerCmdDto$LockerCmdUpdateReq">
        EXECUTE SP_LOCKER_COMMAND_UPDATE
            #{LOCKER_COMMAND_ID}
            , #{COMMAND_STATUS_CODE}
            , #{RESULT_MESSAGE}
    </update>

</mapper>